@import "assets/themes/common/values.scss";

.mat-list {

    &.mat-list-base
    .mat-list-item {
        font-size: 1.5rem;
        height: 2.25rem;

        .search-result {
          font-size: 0.75rem;
        }
    }

    @media (max-width: #{$bp-desktop-width}) {
        padding-left: $padding-500;
    }

    @media (max-width: #{$bp-tablet-width}) {
      padding-left: $padding-100;
    }
}
